*,
html {
  margin: 0;
  padding: 0;
}

#topNav {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(18, 77, 241);
  width: auto;
  height: 50px;
}

h1 {
  padding-top: 0.25rem;
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  
}

#topNav img {
  padding-right: 1rem;
}

#hamButMen {
  background-color: rgb(18, 77, 241);
  border: none;
  height: 50px;
  width: 50px;
}

#hamButMen img {
  padding-left: 1rem;
  height: 30px;
  width: 30px;
}

#dropMen {
  background-color: rgb(18, 77, 241);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 500px;
  z-index: 999999;
  position: absolute;
  opacity: .8;
}

#dropMen li {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  opacity: 1;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  opacity: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#mainContent {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
}

#mainImgBox {
  justify-content: center;
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
}

#mainImgBox img {
  height: 100%;
  width: 100%;
  position: relative;
}

#mainImgBox p {
    color: #ffffff;
    position: absolute;
    font-size: 4.8vw;
    margin-top: 150px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    opacity: .55;
}

#textArea {
    padding-left: 10px;
    padding-right: 10px;

}

#textArea h2 {
    font-weight: 900;
    font-family: sans-serif;
    color: rgb(68, 67, 70);
    font-size: 55px;
    margin-bottom: 20px;
}

#textArea h3 {
    font-weight: 900;
    font-family: sans-serif;
    color: rgb(98, 132, 86);
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 33px;
}

#textArea h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: sans-serif;
}

#textArea p {
    font-family: sans-serif;
}

@media only screen and (max-width: 1000px) {

  h1 {
    font-size: 20px;
    
  }

}

@media only screen and (max-width: 400px) {
  h1{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  #mainImgBox p {
    color: #080808;
    position: absolute;
    font-size: 4.8vw;
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    opacity: 1;
}



}